<title>{{title}}</title>
<div class="container">
<header>
  <h1 class="welcome-title flex-container">Mongo DB Scraper!</h1>
  <h2 class="article">Articles:</h2>
</header>
{{!-- <section class="btn-section"> --}}
    <a href="/scrape">
    <button type="submit" id="scrapeBtn">Scrape for New Articles</button>
    </a>

</section>
<main class="flex-main">
  <section class="left-side">
    <section class="flex-ul">
      {{!-- <h3>{{test}}</h3> --}}
      <ul>
        {{#each articles}}
        <li>
          <div class="jumbotron" id="articles">
            <img src="{{image}}" />
            <div class="card-body">
            <div class="article-container">
              <h2>{{title}}</h2>
              <p>{{summary}}</p> <a href={{link}}>link to site</a>
              <br>
              <br>
              <div class="notes-container">
                <div class="circle">
                  <input type="text" name="commentTitle" id="titleinput" placeholder="Note Title">
                  <br>
                  <br>
                  <input type="text" name="commentBody" id="bodyinput" placeholder="Note Body">
                  <button id="savenote" class="addNotes btn-info" data-id="{{_id}}"> + Notes</button>
                </div>
                <br>
              <br>
                  <button class="btn btn-primary rounded" id="saveArticle"  type="button" data-id="{{_id}}" name="SaveArticle">SaveArticle</button>

                  <button class="btn btn-danger rounded" id="deleteArticle"  type="button" data-id="{{_id}}" name="SaveArticle">DeleteArticle</button>
                <br>
                <span class="line 1"></span>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </section>
  </section>

  <section class="right-side">
    <div id="notes"></div>
    <div id="noteShow">
      <h2>This is h2 title </h2>
      <p>This is paragraph</p>
      <div class="delete-container" data-id="{{_id}}"></div>
      </div>
    </div>
  </section>
</main>
